
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #F5F5F5;
  }
  
  tr:nth-child(even) {
    background-color: #F0F0F0;
  }
  
  tr
